@font-face {
    font-family: "Bombing";
    src: url(/src/css/fonts/Bombing.ttf);
}

@font-face {
    font-family: "Chronic";
    src: url(/src/css/fonts/Chronic-1GnwL.ttf);
}

@font-face {
    font-family: "Marker";
    src: url(/src/css/fonts/ADrippingMarker-Ddw1.ttf);
}