.main-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Chronic";
}

.main-header .logo {
    height: 30px;
}

.main-header .menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-header nav li a {
    font-weight: bold;
    color: #000;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.main-header nav li a:hover {
    background-color: #87fd38;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
}

.main-container .title {
    max-width: 500px;
    font-size: 100px;
    font-family: "Chronic";
}

.main-container .description {
    color: #a8adb7;
    width: 40%;
    font-size: 18px;
    margin: 30px 0;
}

.main-container .button-videopart {
    background-color: #87fd38;
    color: #000;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.main-container .button-videopart:hover {
    transform: scale(1.1);
}